# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.DS_Store
build/
dist/
*.egg-info/
*.whl

# IDE files
.idea/
.vscode/*
!.vscode/mcp.json
!.vscode/launch.json
*.swp

.venv/
.ruff_cache/
# Environment
.env

# Other
*.log
*.tmp
